<!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
<head>
	<style type="text/css">
		img{
			position: absolute;
			margin-left: 450px;
			top: 50px;
		}
		.shadow_border{
		border: 1px solid #000;
		height:  150px; 
		width:350px;
		margin-left: 400px;
		margin-top: 350px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		-webkit-box-shadow: #666 0px 0px 10px;
		-moz-box-shadow: #666 0px 0px 10px;
		box-shadow: #666 0px 0px 10px;}

		.check{
			font-size: 30px;
			color: blue;
			text-align: center;
			padding-top: 20px;

		}
	</style>
</head>
<body>
	<script type = "text/javascript">
    window.onload = function() {
	var wikipedia = {{wikipedia|tojson}}
	var cuisine = {{cuisine|tojson}}
	var country = {{country|tojson}}
	localStorage.setItem('wikiStorage',wikipedia);
	localStorage.setItem('cuisineStorage',cuisine);
	localStorage.setItem('countryStorage', country);
}
        </script>
        <h1>{{country}}</h1>
			<a href="checkresult.html">
           <p class="check">Check out facts!</p></a>
        
	
</body>
</html>