<!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
<head>
<style type = "text/css">
img {
	height: 60% ;
	width:60%; 
}
</style>
</head>
<body>
		<h1>Accent Identifier</h1>

		<h2>Have you ever wondered where people around you are from?</h2>
		<p>This application can identify a person's English accent and guess which country they are from. <br>
			Then, this application displays basic information about the country, restaurants around you serving that country's cuisine and the number of students from that country studying in UCL.</p>

		<h3>Please select the options on the left sidebar to navigate around this application. <br>
			Click 'Instructions' on the left sidebar to know how to use this application.</h3>

		<center><img src = "{{url_for('static', filename='people.png')}}"></center>
</body>
</html>