<!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
<body>
	<h1 >Instructions</h1>
	<ol>
		<li>Click 'Record' on the left sidebar. </li>
		<li>You need to record yourself reading the paragraph provided. Have a quick look. </li>
		<li>Click the microphone button when you are ready. The microphone will record your voice for 23 seconds. A countdown timer will be shown.</li>
		<li>Once the 23 seconds is up, you will be directed automatically to a page showing the guess of your origin country made by the application.</li>
		<li>You will be asked if the guess is correct.
			<ul>
				<li>If the guess is correct, choose the tick and you will be shown the basic information of your country.</li>
				<li>If the guess is incorrect, choose the cross and then choose your origin country. You will be then shown the basic information of your country.</li>
			</ul>
		</li>
	</ol>	
</body>
</html>