<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <style>
#result a{
       pointer-events: none !important;
       cursor: default;
       color:Blue;
}
    </style>
</head>
<body>
<div id ="result">&nbsp;</div>
<script>
 window.onload = function() {
	wikiStorage = localStorage.getItem('wikiStorage')
var searchTerm=wikiStorage;
var url="http://en.wikipedia.org/w/api.php?action=parse&format=json&page=" + searchTerm+"&redirects&prop=text&callback=?";
$.getJSON(url,function(data){
  wikiHTML = data.parse.text["*"];
  $wikiDOM = $("<document>"+wikiHTML+"</document>");
  $("#result").append($wikiDOM.find('.infobox').html());
});
}
</script>
</body>
</html>

        	